@inject TodosApiClient TodosApi
@inject NavigationManager Navigation

@if (todos == null)
{
    // Show a loading placeholder while the data is being fetched
    <div class="list-group list-group-flush col-12 col-lg-10 col-xl-8 todos-list-placeholder">
        @for (var i = 0; i < 5; i++)
        {
            <div class="list-group-item placeholder-glow"><span class="placeholder col-4"></span></div>
        }
    </div>
}
else if (todos.Length == 0)
{
    <p class="text-information">
        Todos list is empty! Add one using the form above.
    </p>
}
else
{
    <div class="todos-list list-group list-group-flush col-12 col-lg-10 col-xl-8">
        @foreach (var todo in todos)
        {
            var (editContext, model) = GetFormContextAndModel(todo);
            var completedButton = GetCompletedButtonAttributes(todo);

            <div class="list-group-item align-items-center @(todo.IsComplete ? "complete" : "incomplete")">
                <EditForm EditContext="editContext" Model="model" Enhance class="position-relative">
                    <DataAnnotationsValidator />
                    @* Configure all edit forms to dispatch to the same target form handler *@
                    <FormHandler Target="UpdateTodo" />

                    @* First submit button is the default used when Enter is pressed to submit the form even if hidden *@
                    <input type="submit" class="d-none" />

                    <input type="hidden" name="@(nameof(UpdatingTodo)).@(nameof(UpdatingTodo.Id))" @bind-value="todo.Id" />

                    <div class="row align-items-center">
                        <div class="col-auto g-1">
                            <button type="submit" class="btn btn-set-complete" name="@(nameof(SetComplete))"
                                    value="@completedButton.Value" title="@completedButton.Title">
                                <i class="bi @completedButton.Icon"></i>
                            </button>
                        </div>
                        <div class="col g-1">
                            <div class="position-relative edit-controls">
                                <input type="text" class="@updateEditContext.GetFieldClass(() => todo.Title)" readonly="@todo.IsComplete"
                                       name="@(nameof(UpdatingTodo)).@(nameof(UpdatingTodo.Title))" @bind-value="todo.Title" />
                                @if (!todo.IsComplete)
                                {
                                    <button type="submit" class="btn btn-save position-absolute top-50 start-100 translate-middle-y"
                                            title="Save Changes" aria-label="Save changes">
                                        <i class="bi bi-floppy2-fill"></i>
                                    </button>
                                    <a href="todos" class="btn btn-close position-absolute top-50 start-100 translate-middle-y"
                                       title="Cancel Changes" aria-label="Cancel changes"></a>
                                }
                            </div>
                        </div>
                        <div class="col-auto g-1">
                            <button type="submit" class="btn btn-delete"
                                    name="@nameof(IsDeleting)" value="true" title="Delete" aria-label="Delete">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row validation">
                        <ValidationSummary class="validation-errors mt-1 mb-0" />
                        <ValidationSummary Model="todo" class="validation-errors mt-1 mb-0" />
                    </div>
                </EditForm>
            </div>
        }
        @* Target form handler for all edit forms *@
        <FormTarget Name="UpdateTodo" OnSubmit="UpdateAsync" />
    </div>
}

@code {
    private EditContext? updateEditContext;
    private ValidationMessageStore? updateMessageStore;
    private Todo[]? todos;

    [SupplyParameterFromForm]
    private Todo? UpdatingTodo { get; set; }

    [SupplyParameterFromForm]
    private bool? SetComplete { get; set; }

    [SupplyParameterFromForm]
    private bool IsDeleting { get; set; }

    [Parameter]
    public EventCallback OnTodosLoaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        todos = await TodosApi.GetTodosAsync();
        if (OnTodosLoaded.HasDelegate)
        {
            await OnTodosLoaded.InvokeAsync();
        }
    }

    private async Task UpdateAsync()
    {
        if (UpdatingTodo is not null && updateEditContext is not null && updateMessageStore is not null)
        {
            if (IsDeleting)
            {
                await TodosApi.DeleteTodoAsync(UpdatingTodo.Id);
            }
            else
            {
                var contextTodo = (Todo)updateEditContext.Model;

                // Update the model on the EditContext with the changes from the form
                contextTodo.Title = UpdatingTodo.Title;
                var originalCompletedOn = contextTodo.CompletedOn;
                contextTodo.CompletedOn = SetComplete switch
                {
                    null => contextTodo.CompletedOn,
                    true => DateTime.UtcNow,
                    false => null,
                };

                var isValid = updateEditContext.Validate();

                if (isValid)
                {
                    var (wasUpdated, validationProblem) = await TodosApi.UpdateTodoAsync(contextTodo);
                    if (!wasUpdated)
                    {
                        updateMessageStore.AddValidationErrors(updateEditContext, validationProblem);
                        isValid = false;
                    }
                }

                if (!isValid)
                {
                    if (SetComplete.HasValue)
                    {
                        // Unable to set complete/incomplete so reset to the original state
                        contextTodo.CompletedOn = originalCompletedOn;
                    }
                    return;
                }
            }
        }
        Navigation.Refresh();
    }

    private (EditContext?, Todo?) GetFormContextAndModel(Todo todo)
    {
        EditContext? editContext = null;
        Todo? model = todo;

        if (todo.Id == UpdatingTodo?.Id)
        {
            // If this is the todo being updated then use the EditContext
            updateEditContext ??= new(todo);
            editContext = updateEditContext;
            updateMessageStore ??= new(updateEditContext);
            model = null;
        }

        if (editContext is not null && model is not null)
        {
            throw new InvalidOperationException("EditContext and Model should not both be null!");
        }

        return (editContext, model);
    }

    private (string Icon, string Title, string Value) GetCompletedButtonAttributes(Todo todo)
    {
        var icon = todo.IsComplete ? "bi-check-circle-fill" : "bi-circle";
        var title = todo.IsComplete ? "Mark incomplete" : "Mark complete";
        var value = (todo.IsComplete ? bool.FalseString : bool.TrueString).ToLowerInvariant();
        return (icon, title, value);
    }
}
