@page "/todos"
@using System.Linq.Expressions
@attribute [StreamRendering(true)]

@inject TodosApiClient TodosApi
@inject NavigationManager Navigation

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

<p>This component demonstrates handling data loaded from a database via a backend API service.</p>

<EditForm EditContext="createEditContext" OnValidSubmit="CreateAsync" FormName="createTodo" Enhance class="mb-4">
    <DataAnnotationsValidator />

    <div class="row g-2 align-items-center">
        <div class="col-7">
            <div class="form-floating">
                <InputText @bind-Value="NewTodo!.Title" id="title"
                           class="@createEditContext.GetFieldClass(() => NewTodo!.Title)" placeholder="Mop the floor" />
                <label for="title">What do you need to do?</label>
            </div>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-primary" disabled="@(todos == null)">Add</button>
        </div>
    </div>
    <div class="row">
        <ValidationMessage For="() => NewTodo!.Title" />
        <ValidationMessage For="() => NewTodo" />
    </div>
</EditForm>

@if (todos == null)
{
    <div class="list-group list-group-flush w-75">
        @for (var i = 0; i < 5; i++)
        {
            <div class="list-group-item placeholder-glow"><span class="placeholder col-4"></span></div>
        }
    </div>
}
else if (todos.Length == 0)
{
    <p class="text-information">
        Todos list is empty! Add one using the form above.
    </p>
}
else
{
    <form method="post" @formname="updateTodo" @onsubmit="UpdateAsync" data-enhance>
        <AntiforgeryToken />
        <div class="list-group list-group-flush w-75">
            @foreach (var todo in todos)
            {
                <div class="list-group-item">
                    <div class="row align-items-center @(todo.IsComplete ? "complete" : "incomplete")">
                        <div class="col-auto">
                            <button type="submit" class="btn"
                                    name="@(todo.IsComplete ? nameof(UnsetCompletedId) : nameof(SetCompletedId))"
                                    value="@todo.Id" title="Toggle complete">
                                <i class="bi @(todo.IsComplete ? "bi-check-circle-fill" : "bi-circle")"></i>
                            </button>
                        </div>
                        <div class="col">
                            @todo.Title
                        </div>
                        <button type="submit" class="btn-close position-absolute top-50 end-0 translate-middle-y"
                                name="deleteId" value="@todo.Id" title="Delete" aria-label="Delete"></button>
                    </div>
                </div>
            }
        </div>
    </form>
}

@code {
    private EditContext? createEditContext;
    private ValidationMessageStore? messageStore;
    private Todo[]? todos;

    [SupplyParameterFromForm]
    private Todo? NewTodo { get; set; }

    [SupplyParameterFromForm]
    private int? SetCompletedId { get; set; }

    [SupplyParameterFromForm]
    private int? UnsetCompletedId { get; set; }

    [SupplyParameterFromForm]
    private int? DeleteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NewTodo ??= new();
        createEditContext = new(NewTodo);
        messageStore = new(createEditContext);
        todos = await TodosApi.GetTodosAsync();
    }

    private async Task CreateAsync()
    {
        var (wasCreated, _, validationProblem) = await TodosApi.CreateTodoAsync(NewTodo!);

        if (wasCreated)
        {
            Navigation.Refresh();
        }
        else
        {
            messageStore.AddValidationErrors(createEditContext, validationProblem);
        }
    }

    private async Task UpdateAsync()
    {
        if (SetCompletedId.HasValue)
        {
            await TodosApi.MarkCompleteAsync(SetCompletedId.Value);
        }
        else if (UnsetCompletedId.HasValue)
        {
            await TodosApi.MarkIncompleteAsync(UnsetCompletedId.Value);
        }
        else if (DeleteId.HasValue)
        {
            await TodosApi.DeleteTodoAsync(DeleteId.Value);
        }
        Navigation.Refresh();
    }
}
